/* mobile */

@media (max-width: 480px) {
  .container {
    flex-direction: row-reverse;
    padding: 40px 24px 0;
  }

  .toast-message .wrapper {
    width: 250px;
    height: 60px;
    font-size: 1.4rem;
  }

  .cart {
    margin-right: 70px;
  }

  .cart .cart-length {
    width: 15px;
    height: 15px;
    font-size: 1rem;
    line-height: 15px;
    top: -4px;
    left: 21px
  }

  .cart-null {
    justify-content: center;
  }

  .icon-back {
    display: inline-block;
    margin-right: 12px;
  }

  .cart-box-full .wrapper {
    width: 100vh;
    height: 100vh;
    padding: 50px 32px;
    border-radius: 0;
  }

  .payment .wrapper {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    padding: 50px 32px;
  }

  .btn-to-cart {
    display: none;
  }

  .controls-pay {
    margin-top: 40px;
    width: 100%;
  }

  .btn-order {
    margin-left: 0;
    margin-bottom: 72px;
    width: 100%;
  }

  .ship-info {
    width: 100%;
    margin-top: 34px;
    margin-right: 0;
  }

  .pay-content {
    display: flex;
    flex-direction: column;
  }

  .cart-total-price {
    margin-right: 0;
    margin-top: 27px;
    display: block;
    text-align: center;
  }

  .cart-box-full .btn-continue {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    border: none;
  }

  .menu-btn {
    margin-top: 36px;
  }

  .socials {
    display: none;
  }

  .header-logo span {
    font-size: 1rem;
    line-height: 15px;
  }

  .nav-bar {
    padding-top: 92px;
    position: absolute;
    z-index: 100;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: all 0.5s linear;
  }

  .nav-bar .close-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 26px;
    right: 26px;
    padding: 8px;
  }

  .nav-item {
    padding: 4px;
  }

  .nav-item + .nav-item {
    margin-left: 0;
    margin-top: 36px;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .menu-icon {
    width: 28px;
    height: 8.5px;
  }

  .cart-icon {
    width: 30px;
    height: 30px;
  }

  .app {
    padding: 0;
  }

  .content {
    flex-direction: column;
  }

  .product-info {
    position: relative;
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }

  .product-name {
    margin-top: 24px;
    font-size: 2rem;
    line-height: 30px;
  }

  .product-code {
    margin-top: 8px;
    font-size: 1rem;
    line-height: 15px;
  }

  .product-type {
    margin-top: 4px;
    font-size: 1.1rem;
    line-height: 16px;
  }

  .product-price {
    font-size: 2rem;
    line-height: 30px;
    margin-bottom: 0;
  }

  .btn-buy {
    position: absolute;
    bottom: -328px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 32.83px;
    font-size: 1.1rem;
    line-height: 16px;
  }

  .product-preview {
    margin-top: 20px;
    text-align: center;
  }

  .product-img {
    width: 180px;
    height: 180px;
  }

  .controls {
    margin-top: 28px;
  }

  .btn-select-item {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  .btn-select-item.selected {
    width: 40px;
  }

  .show-nav {
    transform: translateX(0%);
  }

  .pay-header .title-box {
    display: inline-flex;
  }
  .order-respon .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vh;
    height: 100vh;
    border-radius: 0;
  }
}
